body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    /* border-left: 1px solid black; */
    /* border-right: 1px solid black; */
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 85%;
    line-height: 140%;
    color: #333; 
}
pre {
    border: 1px gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
}

h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #7a5ada; 
}

h1, h2, h3, h4, h5, h6 { font-family: verdana;
                         font-weight: bold;
                         /*border-bottom: 1px dotted black;*/
                        }

h1 {                      
        font-size: 110%;
        color: #3333FF;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-top: 2px dotted gray;
        border-bottom: 2px dotted gray;
}

h2 {
        font-size: 100%;
        color: #CC0000;
}

h3 {
        font-size: 95%;
        color: #DC143C;
}

h4 {
        font-size: 90%;
        font-style: italic;
        color: #F08080;
}

h5 {
        font-size: 90%;
        font-style: italic;
        color: #FFA07A;
}

h6 {
        font-size: 90%;
        font-style: italic;
        color: #FFA0FF;
}

h1.title {
        font-size: 120%;
        font-weight: bold;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        text-align: left;
        border: none;
        color:#A52A2A;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

/*
.red {
    color: red;
}
*/


#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }
