# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Zemax files
*.CFG
*.SES

# Directories to ignore
.ipynb_checkpoints/
code/scheimpflugimgmodel/.ipynb_checkpoints/
code/exp_14_10_img_field_shift_restore/zmxfiles/None

# Specific files
code/exp_14_09_psf_measure/zmxfiles/tilted image plane.CFG
code/exp_14_09_psf_measure/zmxfiles/tilted image plane.SES
code/scheimpflugimgmodel/.ipynb_checkpoints/basicScheimpflugImgSimulation-checkpoint.ipynb
