# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Zemax files
*.CFG
*.SES

# Compressed files
*.zip


# Directories to ignore
.ipynb_checkpoints/
code/scheimpflugimgmodel//.ipynb_checkpoints/
code/exp_14_09_psf_measure/.ipynb_checkpoints/
code/exp_14_10_img_field_shift_restore/.ipynb_checkpoints/
chapters/chapter03_geometricmodel/code/data/imgstack/png_stack/
chapters/chapter03_geometricmodel/code/data/imgstack/thumbnail_stack/
chapters/chapter03_geometricmodel/code/data/imgstack/processFocalStack.asv
chapters/chapter03_geometricmodel/code/data/imgstack/unregistered_png_stack

# Specific files
code/exp_14_09_psf_measure/zmxfiles/tilted image plane.CFG
code/exp_14_09_psf_measure/zmxfiles/tilted image plane.SES
basicScheimpflugImgSimulation-checkpoint.ipynb
Img_field_shift_lens_movements_in_scheimpflug-checkpoint.ipynb
Img_field_shift_lens_movements_in_scheimpflug-checkpoint.ipynb
Img_field_shift_lens_movements_in_scheimpflug-checkpoint.ipynb
chapters/chapter03_geometricmodel/code/zmxfiles/None
code/exp_14_10_img_field_shift_restore/zmxfiles/None
basicScheimpflugImgSimulation-checkpoint.ipynb

chapters/chapter03_geometricmodel/code/images/None
*.hdf5



